<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="CSS/normalize.css">
  <link rel="stylesheet" href="CSS/all.min.css">
  <link rel="stylesheet" href="CSS/casperStyle.css">
  <title>Casper</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="#" class="logo">
        <img src="../img/photo_2023-11-26_11-46-28.jpg" alt="logo">
      </a>
      <nav>
        <i class="fas fa-bars icon"></i>
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="form">
          <i class="fas fa-search"></i>
        </div>
      </nav>
    </div>
  </header>
  <!------------------------------------- -->
  <div class="landing">
    <div class="overlay"></div>
    <div class="text">
      <div class="content">
        <h2>Hello World! <br>
        We are Casper we make art.</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Illo eligendi facere nemo saepe asperiores non,
          qui recusandae nostrum, cum eaque voluptas dicta fugiat?
          Autem fugiat deserunt provident neque ipsum laboriosam.</p>
      </div>
    </div>
    <i class="fas fa-angle-left left fa-2x"></i>
    <i class="fas fa-angle-right right fa-2x"></i>
    <ul class="ball">
      <li></li>
      <li class="active"></li>
      <li></li>
    </ul>
  </div>
  <!-- ---------------------------------- -->
  <div class="services main-padding" id="services">
    <div class="container">
      <div class="main-hading">
        <h2>Services</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit cumque alias perspiciatis consequuntur vero totam.</p>
      </div>
      <div class="ser-container">
        <div class="ser">
          <i class="fas fa-desktop fa-3d"></i>
          <div class="text">
            <h3>Vorem amet intuitive</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Illo eligendi facere nemo saepe asperiores non,
              qui recusandae nostrum, cum eaque voluptas dicta fugiat?
              Autem fugiat deserunt provident neque ipsum laboriosam.</p>
          </div>
        </div>
        <div class="ser">
          <i class="fas fa-cog fa-3d"></i>
          <div class="text">
            <h3>Vorem amet intuitive</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Illo eligendi facere nemo saepe asperiores non,
              qui recusandae nostrum, cum eaque voluptas dicta fugiat?
              Autem fugiat deserunt provident neque ipsum laboriosam.</p>
          </div>
        </div>
        <div class="ser">
          <i class="fas fa-pencil-ruler fa-3d"></i>
          <div class="text">
            <h3>Vorem amet intuitive</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Illo eligendi facere nemo saepe asperiores non,
              qui recusandae nostrum, cum eaque voluptas dicta fugiat?
              Autem fugiat deserunt provident neque ipsum laboriosam.</p>
          </div>
        </div>
        <div class="ser">
          <i class="fas fa-camera fa-3d"></i>
          <div class="text">
            <h3>Vorem amet intuitive</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Illo eligendi facere nemo saepe asperiores non,
              qui recusandae nostrum, cum eaque voluptas dicta fugiat?
              Autem fugiat deserunt provident neque ipsum laboriosam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- ------------------------------------ -->
  <div class="design main-padding">
    <div class="overlay"></div>
    <img src="../img/unsplash-NuFUbftUu_s-unsplash.jpg" alt="">
    <div class="content">
      <h2>Our design comes with...</h2>
      <ul>
        <li>Responsive design</li>
        <li>Modern and clean design</li>
        <li>Clean code</li>
        <li>Browser friendly</li>
      </ul>
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="portfolio main-padding" id="portfolio">
    <div class="container">
      <div class="main-hading">
        <h2>Portfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit cumque alias perspiciatis consequuntur vero totam.</p>
      </div>
      <ul class="shuffle">
        <li class="active">All</li>
        <li>App</li>
        <li>Photo</li>
        <li>Web</li>
        <li>Print</li>
      </ul>
    </div>
    <div class="img-container">
      <div class="box">
        <img src="../img/clement-fusil-Fpqx6GGXfXs-unsplash.jpg" alt="">
        <div class="text">
          <h4>Awesome image</h4>
          <p>Photography</p>
        </div>
      </div>
      <div class="box">
        <img src="../img/daniel-norin-lBhhnhndpE0-unsplash.jpg" alt="">
        <div class="text">
          <h4>Awesome image</h4>
          <p>Photography</p>
        </div>
      </div>
      <div class="box">
        <img src="../img/james-wheeler-InOgamK2cuY-unsplash.jpg" alt="">
        <div class="text">
          <h4>Awesome image</h4>
          <p>Photography</p>
        </div>
      </div>
      <div class="box">
        <img src="../img/lucas-k-wQLAGv4_OYs-unsplash.jpg" alt="">
        <div class="text">
          <h4>Awesome image</h4>
          <p>Photography</p>
        </div>
      </div>
      <div class="box">
        <img src="../img/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="">
        <div class="text">
          <h4>Awesome image</h4>
          <p>Photography</p>
        </div>
      </div>
      <div class="box">
        <img src="../img/marius-masalar-CyFBmFEsytU-unsplash.jpg" alt="">
        <div class="text">
          <h4>Awesome image</h4>
          <p>Photography</p>
        </div>
      </div>
      <div class="box">
        <img src="../img/photo_2023-11-26_11-46-28.jpg" alt="">
        <div class="text">
          <h4>Awesome image</h4>
          <p>Photography</p>
        </div>
      </div>
      <div class="box">
        <img src="../img/steve-johnson-gWBymdFiUbQ-unsplash.jpg" alt="">
        <div class="text">
          <h4>Awesome image</h4>
          <p>Photography</p>
        </div>
      </div>
    </div>
    <a href="#" class="more main-botton">More</a>
  </div>
  <!-- ---------------------------------- -->
  <div class="video">
    <div class="overlay"></div>
    <video autoplay muted loop>
      <source src="../img/Facebook 855925498813373(360p)_001.mp4" type="video/mp4">
    </video>
    <div class="text">
      <h2>Super awesome video here</h2>
      <p>It's all you need</p>
      <a href="#" class="botton main-botton">see more</a>
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="about" id="about">
    <div class="container">
      <div class="main-hading">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit cumque alias perspiciatis consequuntur vero totam.</p>
      </div>
      <img src="../img/sunrise-king-NK-cB-l1cv0-unsplash.jpg" alt="">
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="stats main-padding">
    <div class="overlay"></div>
    <div class="container">
      <div class="box">
        <i class="fas fa-mug-hot"></i>
        <div class="number">1,000</div>
        <p>Coffee drinks</p>
      </div>
      <div class="box">
        <i class="fas fa-folder"></i>
        <div class="number">100</div>
        <p>Complated project</p>
      </div>
      <div class="box">
        <i class="fas fa-envelope"></i>
        <div class="number">200</div>
        <p>Mail sent</p>
      </div>
      <div class="box">
        <i class="fas fa-trophy"></i>
        <div class="number">4,000</div>
        <p>Awards received</p>
      </div>
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="our-skills main-padding">
    <div class="container">
      <div class="test">
        <h3>Testimonials</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit cumque alias perspiciatis consequuntur vero totam.</p>
        <div class="content">
          <img src="../img/dog_nature_snow_150627_3840x2400.jpg" alt="">
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis 
            <p>John Doe, CED</p>
          </div>
        </div>
        <div class="content">
          <img src="../img/dog_nature_snow_150627_3840x2400.jpg" alt="">
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis 
            <p>John Doe, CED</p>
          </div>
        </div>
        <ul class="ball">
          <li></li>
          <li class="active"></li>
          <li></li>
        </ul>
      </div>
      <div class="skills">
        <h3>Skills</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit cumque alias perspiciatis consequuntur vero totam.</p>
        <div class="prog-holder">
          <h4>Adobe</h4>
          <div class="prog">
            <span style="width: 83%" data-progress="83%"></span>
          </div>
        </div>
        <div class="prog-holder">
          <h4>HTML & CSS</h4>
          <div class="prog">
            <span style="width: 90%" data-progress="90%"></span>
          </div>
        </div>
        <div class="prog-holder">
          <h4>JavaScript</h4>
          <div class="prog">
            <span style="width: 80%" data-progress="80%"></span>
          </div>
        </div>
        <div class="prog-holder">
          <h4>SASS</h4>
          <div class="prog">
            <span style="width: 70%" data-progress="70%"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="quote main-padding">
    <div class="overlay"></div>
    <div class="container">
      <q>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Illo eligendi facere nemo saepe asperiores non,
        qui recusandae nostrum,</q>
      <span><i>Abdulla Zain</i></span>
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="pricing main-padding" id="pricing">
    <div class="container">
      <div class="main-hading">
        <h2>Pricing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit cumque alias perspiciatis consequuntur vero totam.</p>
      </div>
      <div class="plans">
        <div class="plan">
          <div class="head">
            <h3>Basic</h3>
            <span>19</span>
          </div>
          <ul>
            <li>Feature no 1</li>
            <li>Extra Feature</li>
            <li>Extra Feature no 2</li>
            <li>Feature</li>
          </ul>
          <div class="foot">
            <a href="#" class="main-botton">Buy now</a>
          </div>
        </div>
        <div class="plan">
          <div class="head">
            <h3>premium</h3>
            <span>29</span>
          </div>
          <ul>
            <li>Feature no 1</li>
            <li>Extra Feature</li>
            <li>Extra Feature no 2</li>
            <li>Feature</li>
          </ul>
          <div class="foot">
            <a href="#" class="main-botton">Buy now</a>
          </div>
        </div>
        <div class="plan">
          <div class="head">
            <h3>pro</h3>
            <span>39</span>
          </div>
          <ul>
            <li>Feature no 1</li>
            <li>Extra Feature</li>
            <li>Extra Feature no 2</li>
            <li>Feature</li>
          </ul>
          <div class="foot">
            <a href="#" class="main-botton">Buy now</a>
          </div>
        </div>
        <div class="plan">
          <div class="head">
            <h3>platinum</h3>
            <span>49</span>
          </div>
          <ul>
            <li>Feature no 1</li>
            <li>Extra Feature</li>
            <li>Extra Feature no 2</li>
            <li>Feature</li>
          </ul>
          <div class="foot">
            <a href="#" class="main-botton">Buy now</a>
          </div>
        </div>
      </div>
      <p class="contact-text"> Contact us if you have spicial request</p>
      <a href="#" class="link main-botton">contact</a>
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="subscribe main-padding">
    <div class="overlay"></div>
    <div class="container">
      <form action="">
        <i class="far fa-envelope fa-lg"></i>
        <input type="email" name="mail" placeholder="Your Email" />
        <input class="main-botton" type="submit" value="Subscribe">
      </form>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Illo eligendi facere nemo saepe asperiores non,
        qui recusandae nostrum,</p>
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="contact main-padding" id="contact">
    <div class="container">
      <div class="main-hading">
        <h2>Contact us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit cumque alias perspiciatis consequuntur vero totam.</p>
      </div>
      <div class="content">
        <form action="">
          <input class="main-input" type="text" name="nam" placeholder="Your Name"/>
          <input class="main-input" type="email" name="mail" placeholder="Your Email"/>
          <textarea class="main-input" name="message" placeholder="Your Message"></textarea>
          <input class="main-botton" type="submit" value="Send Message">
        </form>
        <div class="info">
          <h4>Get in touch</h4>
          <span class="phone">+00 123.455.555</span>
          <span class="phone">+00 123.455.985</span>
          <h4>Where we are</h4>
          <address>
            Awesome address 12 <br>Aleppo, SIU <br>+00 123.455.555 <br>SYRIA
          </address>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------------------------- -->
  <div class="footer">
    <div class="overlay"></div>
    <div class="container">
      <img src="../img/photo_2023-11-26_11-46-28.jpg" alt="logo">
      <p>We are social</p>
      <div class="social-icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fas fa-home"></i>
        <i class="fab fa-youtube"></i>
      </div>
      <p class="copyright">&copy; 2023 <span>Casper</span> All right reserved</p>
    </div>
  </div>
</body>
</html>