<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="CSS/normalize.css">
  <link rel="stylesheet" href="CSS/all.min.css">
  <link rel="stylesheet" href="CSS/elzeroStyle.css">
  <title>elzero</title>
</head>
<body>
  <div class="header" id="header">
    <div class="container">
      <a href="#" class="logo">Elzero</a>
      <ul class="main-nav">
        <li><a href="#articles">Articles</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#features">Features</a></li>
        <li class="links">
          <a href="#other">Other</a>
          <div class="mega-men">
            <div class="image">
              <img src="imgelzero/photo_2023-12-18_20-37-03.jpg" alt="">
            </div>
            <ul class="links">
              <li><a href="#testimonials"><i class="far fa-comments fa-fw"></i>Testimonials</a></li>
              <li><a href="#team"><i class="far fa-building fa-fw"></i>Team members</a></li>
              <li><a href="#services"><i class="far fa-user fa-fw"></i>Services</a></li>
              <li><a href="#skills"><i class="far fa-check-circle fa-fw"></i>Our skills</a></li>
              <li><a href="#work"><i class="far fa-clipboard fa-fw"></i>How is the work?</a></li>
            </ul>
            <ul class="links">
              <li><a href="#events"><i class="far fa-calendar fa-fw"></i>Events</a></li>
              <li><a href="#pricing"><i class="fas fa-server fa-fw"></i>pricing plans</a></li>
              <li><a href="#videos"><i class="far fa-play-circle fa-fw"></i>Top video</a></li>
              <li><a href="#stats"><i class="far fa-chart-bar fa-fw"></i>Stats</a></li>
              <li><a href="#request"><i class="far fa-percent fa-fw"></i>Request a discount</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- ?-------------------------------  -->
  <div class="landing">
    <div class="container">
      <div class="text">
        <h1>Welcom, To Elzero world</h1>
        <p>Here I am gonna everything about my life. Books I am reading, games I am playing, stories and events</p>
      </div>
      <div class="image">
        <img src="imgelzero/photo_2023-12-18_20-36-56.jpg" alt="">
      </div>
    </div>
    <a href="#articles" class="go-down">
      <i class="fas fa-angle-double-down fa-2x"></i>
    </a>
  </div>
  <!-- --------------------------------- -->
  <div class="articles" id="articles">
    <h2 class="main-title">Article</h2>
    <div class="container">
      <div class="box">
        <img src="imgelzero/adem-ay-Tk9m_HP4rgQ-unsplash.jpg" alt="">
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
        </div>
        <div class="info">
          <a href="#">Read more</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
      <div class="box">
        <img src="imgelzero/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg" alt="">
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
        </div>
        <div class="info">
          <a href="#">Read more</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
      <div class="box">
        <img src="imgelzero/dan-cristian-padure-pHw08h_EvO4-unsplash.jpg" alt="">
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
        </div>
        <div class="info">
          <a href="#">Read more</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
      <div class="box">
        <img src="imgelzero/fly-d-mT7lXZPjk7U-unsplash.jpg" alt="">
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
        </div>
        <div class="info">
          <a href="#">Read more</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
      <div class="box">
        <img src="imgelzero/johnyvino-photo-library-R54V69BN0MI-unsplash.jpg" alt="">
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
        </div>
        <div class="info">
          <a href="#">Read more</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
      <div class="box">
        <img src="imgelzero/rubaitul-azad-CMFglgJg3d4-unsplash.jpg" alt="">
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
        </div>
        <div class="info">
          <a href="#">Read more</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
      <div class="box">
        <img src="imgelzero/markus-spiske-MI9-PY5cyNs-unsplash.jpg" alt="">
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
        </div>
        <div class="info">
          <a href="#">Read more</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
      <div class="box">
        <img src="imgelzero/steve-johnson-ZPOoDQc8yMw-unsplash.jpg" alt="">
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
        </div>
        <div class="info">
          <a href="#">Read more</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="spikes"></div>
  <!--*--------------------------------- -->
  <div class="gallery" id="gallery">
    <h2 class="main-title">Gallery</h2>
    <div class="container">
      <div class="box">
        <div class="image">
          <img src="imgelzero/photo_2023-12-20_15-14-15.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="imgelzero/photo_2023-12-20_15-13-59.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="imgelzero/photo_2023-12-20_15-13-50.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="imgelzero/photo_2023-12-20_15-14-20.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="imgelzero/photo_2023-12-20_15-14-03.jpg" alt="">
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="imgelzero/photo_2023-12-20_15-14-09.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="spikes-2"></div>
  <!-- !-------------------------------- -->
  <div class="features" id="features">
    <h2 class="main-title">Features</h2>
    <div class="container">
      <div class="box quality">
        <div class="img-hold">
          <img src="imgelzero/dmitry-chernyshov-mP7aPSUm7aE-unsplash.jpg" alt="">
        </div>
        <h2>Quality</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nesciunt. Quas reiciendis laborum eos doloremque accusamus </p>
        <a href="#">More</a>
      </div>
      <div class="box time">
        <div class="img-hold">
          <img src="imgelzero/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg" alt="">
        </div>
        <h2>Time</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nesciunt. Quas reiciendis laborum eos doloremque accusamus </p>
        <a href="#">More</a>
      </div>
      <div class="box passion">
        <div class="img-hold">
          <img src="imgelzero/christopher-gower-m_HRfLhgABo-unsplash.jpg" alt="">
        </div>
        <h2>Passion</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nesciunt. Quas reiciendis laborum eos doloremque accusamus </p>
        <a href="#">More</a>
      </div>
    </div>
  </div>
  <div class="spikes"></div>
  <!-- ?-------------------------------- -->
  <div class="testimonials" id="testimonials">
    <h2 class="main-title">Testimonials</h2>
    <div class="container">
      <div class="box">
        <img src="imgelzero/photo_2023-12-20_16-31-36.jpg" alt="">
        <h3>Lionel Messi</h3>
        <span class="title">Full stack web develper</span>
        <div class="rate">
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
      </div>
      <div class="box">
        <img src="imgelzero/photo_2023-12-20_16-31-45.jpg" alt="">
        <h3>Mohammed Yakhny</h3>
        <span class="title">Full stack web develper</span>
        <div class="rate">
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
      </div>
      <div class="box">
        <img src="imgelzero/photo_2023-12-20_16-32-12.jpg" alt="">
        <h3>Abdulla Zain</h3>
        <span class="title">Full stack web develper</span>
        <div class="rate">
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
      </div>
      <div class="box">
        <img src="imgelzero/photo_2023-12-20_16-31-51.jpg" alt="">
        <h3>Nour</h3>
        <span class="title">Full stack web develper</span>
        <div class="rate">
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
      </div>
      <div class="box">
        <img src="imgelzero/photo_2023-12-20_16-32-07.jpg" alt="">
        <h3>Fatima</h3>
        <span class="title">Full stack web develper</span>
        <div class="rate">
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
      </div>
      <div class="box">
        <img src="imgelzero/photo_2023-12-20_16-32-17.jpg" alt="">
        <h3>Di Maria</h3>
        <span class="title">Full stack web develper</span>
        <div class="rate">
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
          <i class="fill fas fa-star"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias</p>
      </div>
    </div>
  </div>
  <div class="spikes-2"></div>
  <!-- --------------------------------- -->
  <div class="team" id="team">
    <h2 class="main-title">Team members</h2>
    <div class="container">
      <div class="box">
        <div class="data">
          <img src="imgelzero/alison-wang-mou0S7ViElQ-unsplash.jpg" alt="">
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="info">
          <h3>Name</h3>
          <p>Simple short description</p>
        </div>
      </div>
      <div class="box">
        <div class="data">
          <img src="imgelzero/arif-riyanto-vJP-wZ6hGBg-unsplash.jpg" alt="">
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="info">
          <h3>Name</h3>
          <p>Simple short description</p>
        </div>
      </div>
      <div class="box">
        <div class="data">
          <img src="imgelzero/kobby-mendez-d0oYF8hm4GI-unsplash.jpg" alt="">
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="info">
          <h3>Name</h3>
          <p>Simple short description</p>
        </div>
      </div>
      <div class="box">
        <div class="data">
          <img src="imgelzero/mateusz-butkiewicz-A8uYvRvexvs-unsplash.jpg" alt="">
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="info">
          <h3>Name</h3>
          <p>Simple short description</p>
        </div>
      </div>
      <div class="box">
        <div class="data">
          <img src="imgelzero/jess-bailey-WeCoLo0Rxp4-unsplash.jpg" alt="">
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="info">
          <h3>Name</h3>
          <p>Simple short description</p>
        </div>
      </div>
      <div class="box">
        <div class="data">
          <img src="imgelzero/rishabh-pandoh--iZV3CqT7LM-unsplash.jpg" alt="">
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="info">
          <h3>Name</h3>
          <p>Simple short description</p>
        </div>
      </div>
      <div class="box">
        <div class="data">
          <img src="imgelzero/microsoft-edge-6CNB3iD8M4E-unsplash.jpg" alt="">
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="info">
          <h3>Name</h3>
          <p>Simple short description</p>
        </div>
      </div>
      <div class="box">
        <div class="data">
          <img src="imgelzero/walling-XLqiL-rz4V8-unsplash.jpg" alt="">
          <div class="social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="info">
          <h3>Name</h3>
          <p>Simple short description</p>
        </div>
      </div>
    </div>
  </div>
  <div class="spikes"></div>
  <!-- ?-------------------------------- -->
  <div class="services" id="services">
    <h2 class="main-title">Services</h2>
    <div class="container">
      <div class="box">
        <i class="fas fa-user-shield fa-4x"></i>
        <h3>Security</h3>
        <div class="info">
          <a href="#">Details</a>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-map-marked-alt fa-4x"></i>
        <h3>Location</h3>
        <div class="info">
          <a href="#">Details</a>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-tools fa-4x"></i>
        <h3>Fixing Issues</h3>
        <div class="info">
          <a href="#">Details</a>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-laptop-code fa-4x"></i>
        <h3>Coding</h3>
        <div class="info">
          <a href="#">Details</a>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-palette fa-4x"></i>
        <h3>Design</h3>
        <div class="info">
          <a href="#">Details</a>
        </div>
      </div>
      <div class="box">
        <i class="fas fa-bullhorn fa-4x"></i>
        <h3>Marketing</h3>
        <div class="info">
          <a href="#">Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="spikes-2"></div>
  <!-- --------------------------------- -->
  <div class="skills" id="skills">
    <h2 class="main-title">Our skills</h2>
    <div class="container">
      <img src="imgelzero/christopher-gower-m_HRfLhgABo-unsplash.jpg" alt="">
      <div class="box">
        <div class="skill">
          <h3>HTML <span>80%</span></h3>
          <div class="progress">
            <span style="width: 80%"></span>
          </div>
        </div>
        <div class="skill">
          <h3>CSS <span>70%</span></h3>
          <div class="progress">
            <span style="width: 70%"></span>
          </div>
        </div>
        <div class="skill">
          <h3>Java <span>85%</span></h3>
          <div class="progress">
            <span style="width: 85%"></span>
          </div>
        </div>
        <div class="skill">
          <h3>JavaScript <span>60%</span></h3>
          <div class="progress">
            <span style="width: 60%"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spikes"></div>
  <!-- ?-------------------------------- -->
  <div class="work" id="work">
    <h2 class="main-title">How is the work?</h2>
    <div class="container">
      <img src="imgelzero/photo_2023-12-25_22-56-31.jpg" alt="">
      <div class="boxes">
        <div class="box">
          <i class="fas fa-coins fa-2x" style="color: yellow"></i>
          <div class="text">
            <h3>Business analysis</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, consectetur ut delectus aliquam mollitia quos,
              adipisci nam harum corrupti libero ab sed ipsam facere perspiciatis eaque dolores dolorem alias sequi.</p>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-pencil-ruler fa-2x" style="color: #2196f3"></i>
          <div class="text">
            <h3>Architecture</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, consectetur ut delectus aliquam mollitia quos,
              adipisci nam harum corrupti libero ab sed ipsam facere perspiciatis eaque dolores dolorem alias sequi.</p>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-computer fa-2x" style="color: red"></i>
          <div class="text">
            <h3>Developement</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, consectetur ut delectus aliquam mollitia quos,
              adipisci nam harum corrupti libero ab sed ipsam facere perspiciatis eaque dolores dolorem alias sequi.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spikes-2"></div>
  <!-- !-------------------------------- -->
  <div class="events" id="events">
    <h2 class="main-title">Events</h2>
    <div class="container">
      <img src="imgelzero/photo_2023-12-25_22-56-26.jpg" alt="">
      <div class="box">
        <div class="times">
          <div class="time">
            <p class="number">04</p>
            <p class="type">Day</p>
          </div>
          <div class="time">
            <p class="number">06</p>
            <p class="type">Hour</p>
          </div>
          <div class="time">
            <p class="number">45</p>
            <p class="type">Minute</p>
          </div>
          <div class="time">
            <p class="number">55</p>
            <p class="type">Sicand</p>
          </div>
        </div>
        <h2>Tech master events 2023</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio ullam dolorum fugit sunt modi repudiandae pariatur similique aperiam ex veniam.
          Nam delectus odit fugiat similique? Rem dignissimos porro dicta est!</p>
      </div>
    </div>
    <form action="">
      <input type="email" placeholder="Enter your email">
      <input type="submit" value="Subscribe">
    </form>
  </div>
  <div class="spikes"></div>
  <!-- --------------------------------- -->
  <div class="pricing" id="pricing">
    <h2 class="main-title">Pricing palns</h2>
    <div class="container">
      <div class="box">
        <h3>Basic</h3>
        <img src="imgelzero/PSX_20231226_210216.jpg" alt="">
        <div class="price">
          <span class="amount">15$</span>
          <span class="time">Per month</span>
        </div>
        <ul>
          <li>10 GB HDD space</li>
          <li>5 Email addresses</li>
          <li>2 Subdomains</li>
          <li>4 Databases</li>
          <li>Basic cupport</li>
        </ul>
        <a href="#">Choose plan</a>
      </div>
      <div class="box advance">
        <span class="popular">Most Popular</span>
        <h3>Advance</h3>
        <img src="imgelzero/PSX_20231226_210424.jpg" alt="">
        <div class="price">
          <span class="amount">25$</span>
          <span class="time">Per month</span>
        </div>
        <ul>
          <li>10 GB HDD space</li>
          <li>5 Email addresses</li>
          <li>2 Subdomains</li>
          <li>4 Databases</li>
          <li>Basic cupport</li>
        </ul>
        <a href="#">Choose plan</a>
      </div>
      <div class="box">
        <h3>Professional</h3>
        <img src="imgelzero/PSX_20231226_210512.jpg" alt="">
        <div class="price">
          <span class="amount">35$</span>
          <span class="time">Per month</span>
        </div>
        <ul>
          <li>10 GB HDD space</li>
          <li>5 Email addresses</li>
          <li>2 Subdomains</li>
          <li>4 Databases</li>
          <li>Basic cupport</li>
        </ul>
        <a href="#">Choose plan</a>
      </div>
    </div>
  </div>
  <div class="spikes-2"></div>
  <!-- *------------------------------- -->
  <div class="videos" id="videos">
    <h2 class="main-title">Top video</h2>
    <div class="container">
      <div class="holder">
        <div class="list">
          <div class="name">
            Top video
            <i class="fas fa-random"></i>
          </div>
          <ul>
            <li>How to create sub domain<span>05:18</span></li>
            <li>How to create sub domain<span>06:48</span></li>
            <li>How to create sub domain<span>12:00</span></li>
            <li>How to create sub domain<span>13:45</span></li>
            <li>How to create sub domain<span>04:29</span></li>
            <li>How to create sub domain<span>05:09</span></li>
            <li>How to create sub domain<span>10:39</span></li>
          </ul>
        </div>
        <div class="preview">
          <img src="imgelzero/steve-johnson-ZPOoDQc8yMw-unsplash.jpg" alt="">
          <p class="info">Artificial Intelligence</p>
        </div>
      </div>
    </div>
  </div>
  <div class="spikes"></div>
  <!-- --------------------------------- -->
  <div class="stats" id="stats">
    <h2>Our Awesome stats</h2>
    <div class="container">
      <div class="box">
        <i class="far fa-user fa-2x fa-fw"></i>
        <span class="number">300</span>
        <span class="text">Clients</span>
      </div>
      <div class="box">
        <i class="fas fa-code fa-2x fa-fw"></i>
        <span class="number">200</span>
        <span class="text">Projects</span>
      </div>
      <div class="box">
        <i class="fas fa-globe-asia fa-2x fa-fw"></i>
        <span class="number">20</span>
        <span class="text">Countries</span>
      </div>
      <div class="box">
        <i class="far fa-money-bill-alt fa-2x fa-fw"></i>
        <span class="number">600k</span>
        <span class="text">Money</span>
      </div>
    </div>
  </div>
  <!-- --------------------------------- -->
  <div class="request" id="request">
    <div class="image">
      <div class="content">
        <h2>We have a discount</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum in recusandae
          quos laudantium sit,non ipsam ad repellat officia similique quisquam nisi quae
          commodi eveniet voluptates libero cumque odio maxime?</p>
          <img src="imgelzero/walling-XLqiL-rz4V8-unsplash.jpg" alt="">
      </div>
    </div>
    <div class="form">
      <div class="content">
        <h2>Request a discount</h2>
        <form action="">
          <input class="input" type="text" placeholder="Your name" name="name">
          <input class="input" type="email" placeholder="Your email" name="email">
          <input class="input" type="text" placeholder="Your phone" name="mobile">
          <textarea class="input" placeholder="Tell us about your needs" name="message"></textarea>
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
  <!-- --------------------------------- -->
  <div class="footer">
    <div class="container">
      <div class="box">
        <h3>Elzero</h3>
        <ul class="social">
          <li>
            <a href="#" class="facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#" class="telegram">
              <i class="fab fa-telegram"></i>
            </a>
          </li>
          <li>
            <a href="#" class="youtube">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam mollitia aliquam nobis fugiat debitis. At, eius mollitia quo fugiat nisi rerum temporibus,</p>
      </div>
      <div class="box">
        <ul class="links">
          <li><a href="#">Important Link 1</a></li>
          <li><a href="#">Important Link 2</a></li>
          <li><a href="#">Important Link 3</a></li>
          <li><a href="#">Important Link 4</a></li>
          <li><a href="#">Important Link 5</a></li>
        </ul>
      </div>
      <div class="box">
        <div class="line">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          <div class="info">Syria, Aleppo, Shaar</div>
        </div>
        <div class="line">
          <i class="fas fa-clock fa-fw"></i>
          <div class="info">Business hours: from 21:00 to 23:00</div>
        </div>
        <div class="line">
          <i class="fas fa-phone-volume fa-fw"></i>
          <div class="info">
            <span>+963 799 430 890</span><br>
            <span>+963 799 430 890</span>
          </div>
        </div>
      </div>
      <div class="box foot-gallery">
        <img src="imgelzero/photo_2023-12-20_15-14-15.jpg" alt="">
          <img src="imgelzero/photo_2023-12-20_15-13-59.jpg" alt="">
          <img src="imgelzero/photo_2023-12-20_15-13-50.jpg" alt="">
          <img src="imgelzero/photo_2023-12-20_15-14-20.jpg" alt="">
          <img src="imgelzero/photo_2023-12-20_15-14-03.jpg" alt="">
          <img src="imgelzero/photo_2023-12-20_15-14-09.jpg" alt="">
      </div>
    </div>
    <p class="copyright">&copy; 2023 Made with by <span>Elero</span></p>
  </div>
</body>
</html>