<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/all.min.css" />
    <link rel="stylesheet" href="CSS/framework.css" />
    <link rel="stylesheet" href="CSS/dashStyle.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="page d-flex">
      <div class="sidebar bg-white p-20 relative">
        <h3 class="relative txt-c mt-0 fs-25">Abdulla</h3>
        <ul>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="dashboard.html"
            >
              <i class="fa-regular fa-chart-bar fa-fw"></i>
              <span>Dashbord</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="settings.html"
            >
              <i class="fa-solid fa-gear fa-fw"></i>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a
              class="active d-flex align-c fs-14 c-black rad-6 p-10"
              href="profile.html"
            >
              <i class="fa-regular fa-user fa-fw"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="projects.html"
            >
              <i class="fa-solid fa-diagram-project fa-fw"></i>
              <span>Projects</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="courses.html"
            >
              <i class="fa-solid fa-graduation-cap fa-fw"></i>
              <span>Courses</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="friends.html"
            >
              <i class="fa-regular fa-circle-user fa-fw"></i>
              <span>Friends</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="plans.html"
            >
              <i class="fa-regular fa-credit-card fa-fw"></i>
              <span>Plans</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- ------------------------ -->
      <div class="content w-full overflow">
        <div class="head bg-white p-15 between-flex">
          <div class="search relative">
            <input
              class="p-10 rad-10 bor-1"
              type="search"
              placeholder="Search..."
              name="search"
            />
          </div>
          <div class="icons d-flex align-c">
            <span class="not relative">
              <i class="fa-regular fa-bell fa-lg"></i>
            </span>
            <img class="rad-half" src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg" alt="" />
          </div>
        </div>
        <!--!-------------------------  -->
        <h1 class="relative">Profile</h1>
        <div class="profile-page m-20">
          <div class="overview bg-white rad-10 d-flex align-c">
            <div class="avatar-box txt-c p-15">
              <img
                src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg"
                alt=""
                class="rad-half mb-10"
              />
              <h3 class="m-0">Abdulla Zain</h3>
              <p class="c-grey mt-10">level 15</p>
              <div class="level rad-6 bg-eee relative">
                <span style="width: 75%"></span>
              </div>
              <div class="rating mt-10 mb-10">
                <i class="fa-solid fa-star c-gold fs-14"></i>
                <i class="fa-solid fa-star c-gold fs-14"></i>
                <i class="fa-solid fa-star c-gold fs-14"></i>
                <i class="fa-solid fa-star c-gold fs-14"></i>
                <i class="fa-solid fa-star c-gold fs-14"></i>
              </div>
              <p class="c-grey m-0 fs-12">550 Rating</p>
            </div>
            <div class="info txt-c-mobile">
              <!-- ---------------------- -->
              <div class="box p-20 d-flex align-c">
                <h4 class="c-grey fs-16 m-0 w-full">General Information</h4>
                <div class="fs-14">
                  <span class="c-grey">Full Name: </span>
                  <span>Abdulla Zain</span>
                </div>
                <div class="fs-14">
                  <span class="c-grey">Gender: </span>
                  <span>Male</span>
                </div>
                <div class="fs-14">
                  <span class="c-grey">Country: </span>
                  <span>Syria</span>
                </div>
                <div class="fs-14 toggle">
                  <label>
                    <input class="toggle-checkbox" type="checkbox" checked />
                    <div class="toggle-switch"></div>
                  </label>
                </div>
              </div>
              <div class="box p-20 d-flex align-c">
                <h4 class="c-grey fs-16 m-0 w-full">Personal Information</h4>
                <div class="fs-14">
                  <span class="c-grey">Email: </span>
                  <span>engabooda@gmail.com</span>
                </div>
                <div class="fs-14">
                  <span class="c-grey">Phone: </span>
                  <span>099674325</span>
                </div>
                <div class="fs-14">
                  <span class="c-grey">Date of barth: </span>
                  <span>1/7/2003</span>
                </div>
                <div class="fs-14 toggle">
                  <label>
                    <input class="toggle-checkbox" type="checkbox" checked />
                    <div class="toggle-switch"></div>
                  </label>
                </div>
              </div>
              <div class="box p-20 d-flex align-c">
                <h4 class="c-grey fs-16 m-0 w-full">job Information</h4>
                <div class="fs-14">
                  <span class="c-grey">Title: </span>
                  <span>Full stack developer</span>
                </div>
                <div class="fs-14">
                  <span class="c-grey">Programming language: </span>
                  <span>JS</span>
                </div>
                <div class="fs-14">
                  <span class="c-grey">Years of experience: </span>
                  <span>+2</span>
                </div>
                <div class="fs-14 toggle">
                  <label>
                    <input class="toggle-checkbox" type="checkbox" checked />
                    <div class="toggle-switch"></div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- -------------------- -->
          <div class="other-data d-flex gap-20">
            <div class="skills-card p-20 bg-white rad-10 mt-20">
              <h2 class="mt-0 mb-10">My Skills</h2>
              <p class="mt-0 mb-20 c-grey fs-16">Complete skills list</p>
              <ul class="m-0 txt-c-mobile">
                <li><span>HTML</span><span>CSS</span><span>JS</span></li>
                <li><span>Pugjs</span><span>Gulgjs</span><span>SASS</span></li>
                <li><span>Vuejs</span><span>Reactjs</span><span>TS</span></li>
                <li><span>C++</span><span>Java</span></li>
                <li><span>Spring</span><span>PHP</span></li>
              </ul>
            </div>
            <div class="activities p-20 bg-white rad-10 mt-20">
              <h2 class="mt-0 mb-10">Latest Activities</h2>
              <p class="mt-0 mb-20 c-grey fs-16">
                Latest activities done by the user
              </p>
              <div class="activity d-flex align-c txt-c-mobile">
                <img
                  class="rad-half mr-15"
                  src="imgdash/photo_2023-12-20_16-31-45.jpg"
                  alt=""
                />
                <div class="info">
                  <span class="d-block mb-10">Store</span>
                  <span class="c-grey">Bought the mastering Java cours</span>
                </div>
                <div class="date">
                  <span class="d-block mb-10">12:50PM</span>
                  <span class="c-grey">Yasterday</span>
                </div>
              </div>
              <div class="activity d-flex align-c txt-c-mobile">
                <img
                  class="rad-half mr-15"
                  src="imgdash/photo_2023-12-20_16-31-45.jpg"
                  alt=""
                />
                <div class="info">
                  <span class="d-block mb-10">Store</span>
                  <span class="c-grey">Bought the mastering Java cours</span>
                </div>
                <div class="date">
                  <span class="d-block mb-10">12:50PM</span>
                  <span class="c-grey">Yasterday</span>
                </div>
              </div>
              <div class="activity d-flex align-c txt-c-mobile">
                <img
                  class="rad-half mr-15"
                  src="imgdash/photo_2023-12-20_16-31-45.jpg"
                  alt=""
                />
                <div class="info">
                  <span class="d-block mb-10">Store</span>
                  <span class="c-grey">Bought the mastering Java cours</span>
                </div>
                <div class="date">
                  <span class="d-block mb-10">12:50PM</span>
                  <span class="c-grey">Yasterday</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
