<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/all.min.css" />
    <link rel="stylesheet" href="CSS/framework.css" />
    <link rel="stylesheet" href="CSS/dashStyle.css" />
    <title>Project</title>
  </head>
  <body>
    <div class="page d-flex">
      <div class="sidebar bg-white p-20 relative">
        <h3 class="relative txt-c mt-0 fs-25">Abdulla</h3>
        <ul>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="dashboard.html"
            >
              <i class="fa-regular fa-chart-bar fa-fw"></i>
              <span>Dashbord</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="settings.html"
            >
              <i class="fa-solid fa-gear fa-fw"></i>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="profile.html"
            >
              <i class="fa-regular fa-user fa-fw"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a
              class="active d-flex align-c fs-14 c-black rad-6 p-10"
              href="projects.html"
            >
              <i class="fa-solid fa-diagram-project fa-fw"></i>
              <span>Projects</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="courses.html"
            >
              <i class="fa-solid fa-graduation-cap fa-fw"></i>
              <span>Courses</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="friends.html"
            >
              <i class="fa-regular fa-circle-user fa-fw"></i>
              <span>Friends</span>
            </a>
          </li>
          <li>
            <a
              class="d-flex align-c fs-14 c-black rad-6 p-10"
              href="plans.html"
            >
              <i class="fa-regular fa-credit-card fa-fw"></i>
              <span>Plans</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- ------------------------ -->
      <div class="content w-full overflow">
        <div class="head bg-white p-15 between-flex">
          <div class="search relative">
            <input
              class="p-10 rad-10 bor-1"
              type="search"
              placeholder="Search..."
              name="search"
            />
          </div>
          <div class="icons d-flex align-c">
            <span class="not relative">
              <i class="fa-regular fa-bell fa-lg"></i>
            </span>
            <img class="rad-half" src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg" alt="" />
          </div>
        </div>
        <!--!-------------------------  -->
        <h1 class="relative">Projects</h1>
        <div class="projects-page d-grid m-20 gap-20">
          <div class="project bg-white p-20 rad-6 relative">
            <span class="date fs-12 c-grey">15/3/2024</span>
            <h4 class="m-0">Abdulla Zain</h4>
            <p class="c-grey mt-10 mb-10 fs-14">
              Abdulla Zain Project design,programming and hosting
            </p>
            <div class="team relative">
              <a href="#"><img src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg" alt="" /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-07.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-17.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-12.jpg" alt=""
              /></a>
            </div>
            <div class="work d-flex">
              <span class="fs-12 rad-6 bg-eee">Programming</span>
              <span class="fs-12 rad-6 bg-eee">Design</span>
              <span class="fs-12 rad-6 bg-eee">Hosting</span>
              <span class="fs-12 rad-6 bg-eee">Markting</span>
            </div>
            <div class="info between-flex">
              <div class="prog bg-eee">
                <span class="bg-red" style="width: 50%"></span>
              </div>
              <div class="fs-14 c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
                2500
              </div>
            </div>
          </div>
          <div class="project bg-white p-20 rad-6 relative">
            <span class="date fs-12 c-grey">15/3/2024</span>
            <h4 class="m-0">Abdulla Zain</h4>
            <p class="c-grey mt-10 mb-10 fs-14">
              Abdulla Zain Project design,programming and hosting
            </p>
            <div class="team relative">
              <a href="#"><img src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg" alt="" /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-07.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-17.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-12.jpg" alt=""
              /></a>
            </div>
            <div class="work d-flex">
              <span class="fs-12 rad-6 bg-eee">Programming</span>
              <span class="fs-12 rad-6 bg-eee">Design</span>
              <span class="fs-12 rad-6 bg-eee">Hosting</span>
              <span class="fs-12 rad-6 bg-eee">Markting</span>
            </div>
            <div class="info between-flex">
              <div class="prog bg-eee">
                <span class="bg-red" style="width: 50%"></span>
              </div>
              <div class="fs-14 c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
                2500
              </div>
            </div>
          </div>
          <div class="project bg-white p-20 rad-6 relative">
            <span class="date fs-12 c-grey">15/3/2024</span>
            <h4 class="m-0">Abdulla Zain</h4>
            <p class="c-grey mt-10 mb-10 fs-14">
              Abdulla Zain Project design,programming and hosting
            </p>
            <div class="team relative">
              <a href="#"><img src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg" alt="" /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-07.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-17.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-12.jpg" alt=""
              /></a>
            </div>
            <div class="work d-flex">
              <span class="fs-12 rad-6 bg-eee">Programming</span>
              <span class="fs-12 rad-6 bg-eee">Design</span>
              <span class="fs-12 rad-6 bg-eee">Hosting</span>
              <span class="fs-12 rad-6 bg-eee">Markting</span>
            </div>
            <div class="info between-flex">
              <div class="prog bg-eee">
                <span class="bg-red" style="width: 50%"></span>
              </div>
              <div class="fs-14 c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
                2500
              </div>
            </div>
          </div>
          <div class="project bg-white p-20 rad-6 relative">
            <span class="date fs-12 c-grey">15/3/2024</span>
            <h4 class="m-0">Abdulla Zain</h4>
            <p class="c-grey mt-10 mb-10 fs-14">
              Abdulla Zain Project design,programming and hosting
            </p>
            <div class="team relative">
              <a href="#"><img src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg" alt="" /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-07.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-17.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-12.jpg" alt=""
              /></a>
            </div>
            <div class="work d-flex">
              <span class="fs-12 rad-6 bg-eee">Programming</span>
              <span class="fs-12 rad-6 bg-eee">Design</span>
              <span class="fs-12 rad-6 bg-eee">Hosting</span>
              <span class="fs-12 rad-6 bg-eee">Markting</span>
            </div>
            <div class="info between-flex">
              <div class="prog bg-eee">
                <span class="bg-red" style="width: 50%"></span>
              </div>
              <div class="fs-14 c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
                2500
              </div>
            </div>
          </div>
          <div class="project bg-white p-20 rad-6 relative">
            <span class="date fs-12 c-grey">15/3/2024</span>
            <h4 class="m-0">Abdulla Zain</h4>
            <p class="c-grey mt-10 mb-10 fs-14">
              Abdulla Zain Project design,programming and hosting
            </p>
            <div class="team relative">
              <a href="#"><img src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg" alt="" /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-07.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-17.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-12.jpg" alt=""
              /></a>
            </div>
            <div class="work d-flex">
              <span class="fs-12 rad-6 bg-eee">Programming</span>
              <span class="fs-12 rad-6 bg-eee">Design</span>
              <span class="fs-12 rad-6 bg-eee">Hosting</span>
              <span class="fs-12 rad-6 bg-eee">Markting</span>
            </div>
            <div class="info between-flex">
              <div class="prog bg-eee">
                <span class="bg-red" style="width: 50%"></span>
              </div>
              <div class="fs-14 c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
                2500
              </div>
            </div>
          </div>
          <div class="project bg-white p-20 rad-6 relative">
            <span class="date fs-12 c-grey">15/3/2024</span>
            <h4 class="m-0">Abdulla Zain</h4>
            <p class="c-grey mt-10 mb-10 fs-14">
              Abdulla Zain Project design,programming and hosting
            </p>
            <div class="team relative">
              <a href="#"><img src="imgdash/٢٠٢٣١٢٢١_١٥٠٦١٠.jpg" alt="" /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-07.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-17.jpg" alt=""
              /></a>
              <a href="#"
                ><img src="imgdash/photo_2023-12-20_16-32-12.jpg" alt=""
              /></a>
            </div>
            <div class="work d-flex">
              <span class="fs-12 rad-6 bg-eee">Programming</span>
              <span class="fs-12 rad-6 bg-eee">Design</span>
              <span class="fs-12 rad-6 bg-eee">Hosting</span>
              <span class="fs-12 rad-6 bg-eee">Markting</span>
            </div>
            <div class="info between-flex">
              <div class="prog bg-eee">
                <span class="bg-red" style="width: 50%"></span>
              </div>
              <div class="fs-14 c-grey">
                <i class="fa-solid fa-dollar-sign"></i>
                2500
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
